<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>Product 2</title>
</head>

<body>

    <!--nav start-->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Time of Day INC</a>
            <img style="width: 58px; height: 70px;" src="{{ url_for('static', filename='logo.png') }}" alt="Logo IMG">

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/why">Why us?</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/contact">Contact us</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            Products
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="/product/1">Product Alpha</a></li>
                            <li><a class="dropdown-item" href="/product/2">Product Bravo</a></li>
                            <li><a class="dropdown-item" href="/product/3">Product Charlie</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!--nav end-->

    <div class="mainContent" style="display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;">
        <div class="proLeft">
            <img style="width: 100%;" src="{{ url_for('static', filename='product2.jpg') }}" alt="">
        </div>

        <div class="proRight">
            <div class="productTitle">
                <h1>Product Bravo</h1>
            </div>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Et quidem est modi ipsum velit eius fugit nam.
                Eius, minus rem.</p>
            <br>
            <p>Lorem ipsum dolor sit ametLorem ipsum dolor sit amet consectetur adipisicing elit. Veniam aliquid,
                tenetur eaque omnis vero molestiae, tempora ipsa consequuntur iste facere aut natusLorem ipsum dolor sit
                amet consectetur adipisicing elit. Veniam aliquid, tenetur eaque omnis vero molestiae, tempora ipsa
                consequuntur iste facere aut natus sapiente in. Fugiat mollitia sequi omnis quaerat odio. sapiente in.
                Fugiat mollitia sequi omnis quaerat odio. consectetur adipisicing elit. Veniam aliquid, tenetur eaque
                omnis vero molestiae, tempora ipsa consequuntur iste facere aut natus sapiente in. Fugiat mollitia sequi
                omnis quaerat odio.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur corporis dolores nulla. Alias,
                consectetur deleniti.</p>
            <h3>$135</h3>

        </div>

        <div class="row">
            <div class="col-4"></div>
            <div class="col-4" id="#paypal-button-container">
                <div class="paypal-button-container">
                    <script
                        src="https://www.paypal.com/sdk/js?client-id=<<YOUR_CLIENT_ID>>">
// Required. Replace YOUR_CLIENT_ID with your sandbox client ID.
                        </script>
                    <script>
                        paypal.Buttons({
                            createOrder: function (data, actions) {
                                // This function sets up the details of the transaction, including the amount and line item details.
                                return actions.order.create({
                                    purchase_units: [{
                                        amount: {
                                            value: '135.00'
                                        }
                                    }]
                                });
                            },
                            onApprove: function (data, actions) {
                                // This function captures the funds from the transaction.
                                return actions.order.capture().then(function (details) {
                                    // This function shows a transaction success message to your buyer.
                                    alert('Transaction completed by ' + details.payer.name.given_name);
                                });
                            }
                        }).render('#paypal-button-container');
//This function displays Smart Payment Buttons on your web page.
                    </script>
                    <script src="https://www.paypal.com/sdk/js?client-id=test"></script>
                    <script>paypal.Buttons().render('body');</script>
                </div>
                <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"
                    integrity="sha384-eMNCOe7tC1doHpGoWe/6oMVemdAVTMs2xqW4mwXrXsW0L84Iytr2wi5v2QjrP/xp"
                    crossorigin="anonymous"></script>
                <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.min.js"
                    integrity="sha384-cn7l7gDp0eyniUwwAZgrzD06kc/tftFf19TOAs2zVinnD/C7E91j9yyk5//jjpt/"
                    crossorigin="anonymous"></script>
            </div>
            <div class="col-4"></div>
        </div>
</body>

</html>