<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>Why Us?</title>
</head>

<body>
    <!--nav start-->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Time of Day INC</a>
            <img style="width: 58px; height: 70px;" src="{{ url_for('static', filename='logo.png') }}" alt="Logo IMG">

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/why">Why us?</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/contact">Contact us</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            Products
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="/product/1">Product Alpha</a></li>
                            <li><a class="dropdown-item" href="/product/2">Product Bravo</a></li>
                            <li><a class="dropdown-item" href="/product/3">Product Charlie</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!--nav end-->


    <div class="mainContent">
        <img class="whyImg" src="{{ url_for('static', filename='watch2.jpg') }}" alt="">
        <div class="imgText">
            <h1>Why Us?</h1>
            <br>
            <p class="whyP"> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos labore, itaque
                esse tenetur et aperiam? Exercitationem quibusdam, rerum voluptates
                consectetur accusamus alias pariatur in excepturi harum voluptatum, illo
                dolorem at? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error
                eveniet id corrupti excepturi nobis totam impedit vel iste perspiciatis quis,
                placeat officia in perferendis unde atque. Eaque quam minus dignissimos?</p>
            <br>
            <ul>
                <li>-Reason 1</li>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur, molestiae dolorem ipsum tempore
                exercitationem neque fugit quas sed ex harum.
                <li>-Reason 2</li>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Numquam accusantium dolore, aspernatur magnam
                eius ad amet illo ea voluptatibus soluta ipsa praesentium, veritatis unde optio!
                <li>-Reason 3</li>
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Iure dolorum facilis dolorem necessitatibus.
            </ul>
            <p class="whyP"> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos labore, itaque
                esse tenetur et aperiam? Exercitationem quibusdam, rerum voluptates
                consectetur accusamus alias pariatur in excepturi harum voluptatum, illo
                dolorem at? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error
                eveniet id corrupti excepturi nobis totam impedit vel iste perspiciatis quis,
                placeat officia in perferendis unde atque. Eaque quam minus dignissimos?</p>
        </div>

    </div>


    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"
        integrity="sha384-eMNCOe7tC1doHpGoWe/6oMVemdAVTMs2xqW4mwXrXsW0L84Iytr2wi5v2QjrP/xp"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.min.js"
        integrity="sha384-cn7l7gDp0eyniUwwAZgrzD06kc/tftFf19TOAs2zVinnD/C7E91j9yyk5//jjpt/"
        crossorigin="anonymous"></script>
</body>

</html>